{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-4">
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Login</button>
            <p class="mt-5 mb-5 text-center">
                Don't have an Account yet?
                <a class="btn btn-primary" href="{% url 'register-view' %}">Register</a>
            </p>
            
        </form>
    </div>
</div>
{% endblock content %}